  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
 }
 .card{
    background-color: azure;
    width: 198px;
    height: fit-content;
    border-radius: 7px;

 }
 .image{
    padding: 5px;
}
.image img{
    border-radius: 7px;
}
.content{
    padding: 19px;
}
.content p{
    font-size: 13px;
}
.capsules{
    padding: 0 34px;
}
.capsules span{
    border: 1px solid gray;
    padding: 7px;
border-radius: 79px;
font-size: 13px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}