@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
P,div{
font-family: 'Poppins', sans-serif;
}
/* div:nth-child(1) {
    margin: 10px;
    padding: 10px;
    background-color: yellow;
}
div:nth-child(1) p {
    color: red;
}
div:nth-child(2) {
    margin: 10px;
    padding: 10px;
    background-color: blue;
}
div:nth-child(2) p {
    color: white;
}
.alp{
border: 1px saddlebrown;
padding: 2px;
color: maroon;
margin: 23px;
} */
.box{
    margin: 2px ;
    border: 2px solid salmon;
    padding: 2px;
    width: fit-content;
    /* visibility: hidden; */
    
}